@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutGenDetail.cshtml";
}

<div class="container">
    <div class="col-lg-12 col-md-12 shadow-lg mt-3">
        <div class="abt-title mb-3 mt-2 text-center">
            <h2>About Us</h2>
        </div>
        <div class="col-md-12 col-lg-12">
            <div class="row sec-spacer-50">
                <div class="col-lg-7 col-md-7">
                    <p class="mobile-mb-50 text-justify">
                        Sikkim Online Repository acts as a storage location for the variety of innovative & inspirational programmes, good practices & developments initiated for the enhancement of School
                        Education across the State of Sikkim. All these enrichment are showcased in this portal through Images, Videos, Testimonials and Case Studies.
                        <br />
                        The portal is user-friendly and has easy navigational features for all its users. All the contents in the portal falls under their specific components which help users to search without any difficulty and saves their time.
                    </p>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="about-img rs-image-effect-shine">
                        <img src="~/Content/images/about/about2.jpg" alt="about2" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
