@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutGenDetail.cshtml";
}
<!-- Contact Section Start -->
<div class="contact-page-section search-container">
    <div class="container">
        <div class="row contact-address-section">
            <div class="col-md-4 pl-0">
                <div class="contact-info contact-address">
                    <i class="fa fa-map-marker"></i>
                    <h4>Address</h4>
                    <p class="text-left pl-5">Samagra Shiksha Sikkim</p>
                    <p class="text-left pl-5">Education Department,</p>
                    <p class="text-left pl-5">Government of Sikkim,</p>
                    <p class="text-left pl-5">Tashiling Secretariat, Gangtok,</p>
                    <p class="text-left pl-5">East Sikkim, India - 737101</p>
                </div>
            </div>
            <div class="col-md-4 pr-0">
                <div class="contact-info contact-email">
                    <i class="fa fa-envelope"></i>
                    <h4>Email Address</h4>
                    <a href="mailto:sikkimhrdd@gmail.com"><p class="text-left pl-5">sikkimhrdd@gmail.com</p></a>
                    <a href="mailto:samagrashikshasikkim@gmail.com"><p class="text-left pl-5">samagrashikshasikkim@gmail.com</p></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-info contact-phone">
                    <i class="fa fa-phone"></i>
                    <h4>Phone Number</h4>
                    <a href="tel:+91 3592-203050">+91 3592-203050</a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Contact Section End -->   